@import "../functions";

// $purple: #754ffe;
// $green: #19cb98;
// $peach: #ffeeda;

// $custom-colors: (
//   "purple": $purple,
//   "peach": $peach,
//   "green": $green
// );
@import "../variables";

$enable-rounded: false;

$body-bg-dark: #141414;

$custom-spacers: (
  6: $spacer * 3.5,
  7: $spacer * 4,
  8: $spacer * 4.5,
  9: $spacer * 5,
  10: $spacer * 5.5,
  11: $spacer * 6,
  12: $spacer * 6.5,
  13: $spacer * 7,
);

$h1-font-size: $font-size-base * 2;
$h3-font-size: $font-size-base * 1.25;

@import "../mixins";
// $theme-colors: map-merge($theme-colors, $custom-colors);
$spacers: map-merge($spacers, $custom-spacers);
@import "../maps";

@import "../utilities";

$utilities: map-merge(
  $utilities,
  (
    "width-2": (
      property: width,
      class: wd,
      values: (
        32: 32px,
        35: 35px,
        40: 40px
      )
    )
  )
);

@import "../bootstrap";
