@import "../functions";
@import "../variables";

// DISABILITA IL BORDER RADIUS NEI COMPONENTI
$enable-rounded: false;

// CENTRA IL CURSORE LATERALE (CARET) NEL DROPDOWN
// $caret-vertical-align: $caret-width * 0;

// MODIFICA IL BACKGROUND DI DEFAULT
$white: #eaeaea;

$custom-colors: (
  "white": $white
);

$body-color-dark: #eaeaea;
$body-bg-dark: #141414;

// AGGIUNGE ULTERIORI SPACERS
$custom-spacers: (
  6: $spacer * 3.5,
  7: $spacer * 4,
  8: $spacer * 4.5,
  9: $spacer * 5,
  10: $spacer * 5.5,
  11: $spacer * 6,
  12: $spacer * 6.5,
  13: $spacer * 7,
);

// MODIFICA I FONT-SIZE DI DEFAULT DI ALCUNI TAG
$h1-font-size: $font-size-base * 2;
$h3-font-size: $font-size-base * 1.25;

@import "../mixins";
$theme-colors: map-merge($theme-colors, $custom-colors);
// FA IL MARGE TRA GLI SPACERS DI DAFAULT E QUELLI CUSTOM 
$spacers: map-merge($spacers, $custom-spacers);
@import "../maps";

@import "../utilities";
// AGGIUNGE ULTERIORI PROPRIETÀ CON VALORI CUSTOM
$utilities: map-merge(
  $utilities,
  (
    "px-width": (
      property: width,
      class: wd,
      values: (
        32: 32px,
        35: 35px,
        40: 40px
      )
    )
  )
);

$utilities: map-merge(
  $utilities,
  (
    "px-height": (
      property: height,
      class: ht,
      values: (
        15: 15px,
        20: 20px,
        32: 32px,
        35: 35px,
        40: 40px
      )
    )
  )
);

@import "../bootstrap";
