@import "overrides";

// INDEX.HTML
#avatar-btn {
  &:hover,
  &:active {
    background-color: $custom-transparent;
  }
  &::after {
    vertical-align: 0;
  }
}

.pencil-container {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
}

// PROFILE.HTML
#profile-form {
  button:not(.dropdown-toggle) {
    letter-spacing: 3px;
  }
}
