@import "overrides";

// INDEX.HTML
#avatar-btn {
  &:hover,
  &:active {
    background-color: $custom-transparent;
  }
  &::after {
    vertical-align: 0;
  }
}

// #footer {
//   color: $gray-600;
//   button {
//     color: $gray-600;
//     border-color: $gray-600;
//   }
// }

// PROFILE.HTML
#profile-form {
  button:not(.dropdown-toggle) {
    letter-spacing: 3px;
  }
}
